/* Base shop options */
$shop-base-spacer: 1rem;
$shop-base-font-size: 1rem;

/* Base shop colors */
$shop-black-color: #111;
$shop-white-color: #fff;

/* Base shop fonts */
$shop-main-font-family: Pluto;